body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

.container {
  width: 900px;
  height: 550px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Partie gauche */
.left {
  flex: 1;
  background-color: #006400;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.left p {
  font-size: 16px;
  line-height: 1.5;
}

/* Partie droite */
.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  margin-bottom: 30px;
  color: #006400;
  font-size: 26px;
}

/* Formulaire */
.formulaire {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Animation Uiverse.io */
.form-control {
  position: relative;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2e8b57;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  color: #2e8b57;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: #4caf50;
}

.form-control label {
  position: absolute;
  top: 12px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #666;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #2e8b57;
  transform: translateY(-28px);
}

/* Bouton */
.action button {
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.action button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Lien connexion */
.redirect {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.redirect a {
  color: #2e8b57;
  text-decoration: none;
}

.redirect a:hover {
  text-decoration: underline;
}
.action a{
  text-decoration: none;
  color: white;


}
